/*
    This stylesheet contains all code which can easily be customised.
    Examples: logo, main colors
*/

* { /*doesn't work yet (12.03.19)*/
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}

p::selection, h1::selection, h2::selection, h3::selection, a::selection, div::selection, span::selection {
    color: #fff;
    background: #2c6836;
    background: #78be31;
}

#logo {
    height: 95px;
    width: 200px;
    background-image: url("../media/images/logo-fofa.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#top-menu-nav a {
    color: #000;
}

#top-menu-nav a:before {
    background: #000 !important;
}

h2.catHead, .L3header h1.entry-title, .L2header h1.entry-title, .L1header h1.entry-title,
.L1header .L1tag, .L1header .L1tag p,
.L1header .L1tag a { /*intro text*/
    color: #2c6836 !important;
}



.L1header:before { /*welcome / intro image*/
    height: 400px;
    background-image: url(../media/images/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*flip image horizontally*/
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.pageNavBtn {
    background: linear-gradient(to right, rgba(80,150,49,1), rgba(44,104,54,1)) !important;
    box-shadow: 2px 2px 3px rgba(44,104,54,.5);
    color: #fff;
}

.pageNr {
    padding: 5px;
    font-size: 17px;
    color: #2c6836;
}
    .pageNr:hover {
        background: linear-gradient(to right, rgba(80,150,49,1), rgba(44,104,54,1)) !important;
        box-shadow: 0px 3px 1px -2px rgba(44,104,54,.7) !important;
        color: #fff;
    }
.pageActive {
    background: linear-gradient(to right, rgba(80,150,49,1), rgba(44,104,54,1)) !important;
    box-shadow: 0px 3px 1px -2px rgba(44,104,54,.7) !important;
    color: #fff;
}

#footerImg {
    height: 100px;
    background-image: url(../media/images/logo-fofa.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#et-footer-nav {
    background: linear-gradient(to right, #509631, #2c6836) !important;
    box-shadow: 4px 10px 8px rgba(44,104,54,.5);
}
body #footer-bottom {
    background: linear-gradient(to right, #509631, #2c6836) !important;
    box-shadow: 4px 10px 8px rgba(44,104,54,.5);
}
#moreInfo {
    background: linear-gradient(to right, rgba(80,150,49,1), rgba(44,104,54,1)) !important;
    box-shadow: 2px 2px 3px rgba(44,104,54,.5);
}

article .post-meta span.author a {
    color: #2c6836 !important;
}

#footer-bottom a {
    color: #fff !important;
}

.more-link {
    color: #2c6836 !important;
}

#moreInfo:hover{
    color: #fff !important;
}

.breadcrumbs a,
.breadcrumbs .separator {
    color: #2c6836 !important;
}
a:hover,
.breadcrumbs a:hover {
    color: #2c6836 !important;
}

.breadcrumbs:hover a {
    border-bottom: 2px solid #2c6836;
}

#downloadWrapper p {
    color: #2c6836 !important;
}

.searchResults p {
    margin-bottom: 40px;
    box-shadow: 0px 3px 1px -2px rgba(44,104,54,.7) !important;
}

.searchActive .et-search-field {
    box-shadow: 1px 2px 4px 1px rgba(44,104,54,.7);
}
/*needs to be adjusted in other CSS files*/
.scrollHeader {
    background: #fff !important;
    box-shadow: 1px 1px 1px rgba(44,104,54,.7) !important;
}

#footerTopSection {
    background: linear-gradient(to right, #509631, #2c6836) !important;
    box-shadow: 4px 10px 8px rgba(44,104,54,.5);
}

#et-info-email,
.et-social-icon a,
#et-info-phone:before, #et-info-email:before {
    color: #2c6836;
}

    .et-social-icon a:hover,
    .et-social-icon a:hover:before,
    #et-info-email:hover,
    #et-info-email:hover:before{
        color: #000;
    }


#et-footer-nav a:hover,
#footer-bottom a:hover{
    color: #fff !important;
}
