/*HAS TO BE CORRECTED AT SOME POINT IN THE FUTURE*/
*,
.L1header .L1tag,
.L1header .L1tag p,
.et_pb_text h2, 
.et_pb_post h2, 
.et_pb_portfolio_item h2, 
.et_pb_title_container h1 {
    font-family: 'Roboto', sans-serif !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 24px !important;
    line-height: 1 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    display: inline-block !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
    direction: ltr !important;
    -webkit-font-feature-settings: 'liga' !important;
    -webkit-font-smoothing: antialiased !important;
}

#downloadWrapper .material-icons {
    display: none !important;
    position: absolute;
    margin-left: 24px;
    z-index: 100;
    font-size: 104px !important;
    opacity: .8;
}
#downloadWrapper .thumbnail:hover .material-icons {
    display: block !important;
}

*, p, li {
    font-weight: 400;
}

#et-top-navigation{
    text-transform: uppercase;
}

.et_header_style_left #et-top-navigation nav > ul > li > a,
.et_header_style_split #et-top-navigation nav > ul > li > a,
#top-menu > li#menu-item-wpml-ls-364-de:before { /*move links in header to middle / bottom of line - vertical-align doesn't work*/
    margin-top: 15px;
}

#et-main-area .et_pb_title_container h1.entry-title,
#et-main-area > h1.entry-title { /*align intro title to the left side*/
    text-align: left !important;
}

.L1header .et_pb_row { /*edit margin for intro title and text*/
    margin: 0 0 0 50px;
}
#et-main-area .et_pb_title_container h1.entry-title, 
#et-main-area > h1.entry-title{ /*font size for intro title*/
    font-size: 28px !important
}

#logo {
    height: 95px !important;
    width: 200px !important;
    max-height: initial !important;
    max-width: initial !important;
}

.page-template-page-headerless #top-menu a {
    color: #000 !important;
}

.page-template-page-headerless #main-header #top-menu li a:before {
    background: #000 !important;
}

#top-menu > li#menu-item-wpml-ls-364-de:before { /*slash in language selection*/
    color: #000;
}

.single #et_search_icon:before, .page-template-page-headerless #et_search_icon:before, .home #et_search_icon:before { /*magnifying glass in header*/
    color: #000;
}

.L1header .L1tag a { /*intro text link underlines*/
    text-decoration: underline !important;
}

#contactBtn {
    position: relative;
    float: left;
    margin-right: 50px;
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #2c6836;
    color: #fff;
    font-weight: 400;
}

.et_pb_blog_grid .et_pb_post{
    padding-bottom: 16px !important;
}

body.archive.category.category-content-management-blog .et_pb_blog_grid .et_pb_post{
    min-height: 520px;
}

.et_pb_blog_grid .et_pb_image_container img {
    height: 192px;
    object-fit: cover;
}

.et_pb_blog_grid .post-content p {
    -webkit-line-clamp: 4;
}

#page-container{
    padding-bottom: 0 !important;
}

footer {
    position: relative !important;
    margin-top: 200px;
}

.siteFooter { /*should afterwards be changed to footerMiddleSection*/
    background-color: #fff !important;
}

.pageNr {
    display: inline;
    margin-right: 16px !important;
    cursor: pointer;
}

#footerMiddleSection .siteFooter .et_pb_column_3_4 {
    margin-top: 56px;
}

.siteFooter .et_pb_row{
    border: none;
}

#et-footer-nav .container {
    padding-bottom: 50px;
    padding-top: 50px;
}
ul#menu-footer-menu.bottom-nav {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
}

    ul#menu-footer-menu.bottom-nav a,
    ul#menu-footer-menu.bottom-nav li:after {
        color: #fff;
    }

#footer-bottom,
#footer-bottom a,
#footer-bottom div.container span {
    color: #fff;
}
.searchActive .et_search_form_container {
    height: 134px;
}

    .searchActive .et_search_form_container form{
        max-width: 311px;
    }


.et-search-field{
    background: #fff !important;
}

#content-area{
    margin-top: -100px !important;
}
.breadcrumbsBox{
    position: relative;
    z-index: 100;
}
.breadcrumbs a,
.breadcrumbs .separator{
    text-decoration: none;
}

#downloadWrapper div{
    display: inline;
}
#downloadWrapper .thumbnail {
    height: 200px;
}
#downloadWrapper .thumbnail:hover img{
    background-color: red;
}
#downloadWrapper img {
    position: relative;
    float: left;
    width: 150px;
    object-fit: cover;
}
#downloadWrapper p {
    position: relative;
    height: 120px;
    left: 65px;
    text-align: left;
}

#et_top_search{
    margin-top: 10px;
}
.et_close_search_field {
    display: none !important;
}
.searchActive .et_close_search_field{
    display: initial !important;
    top: -32px;
}
.searchActive .et-search-field {
    height: 48px;
    top: -32px;
    bottom: 0;
}
.externalSearchActive #et-top-navigation {
    margin-right: 210px;
}

/*already editet or my own code*/
#main-header {
    background: transparent;
    box-shadow: none;
}

#pageCount, #nextPage, #lastPage {
    display: none;
}

.lastPageActive{
    float: left;
    margin-left: -100px !important;
}

.nextPageActive{
    float: right;
    margin-right: -100px !important;
}

#postArticles div {
    width: 184px;
    margin: auto;
}

.pageNavBtn {
    margin-top: 24px !important;
    border-radius: 3px;
    padding: 16px 32px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.multiPageActive {
    display: block !important;
}

#footerTopSection {
    height: 150px;
}

